<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Performance Monitoring - Softia</title>
</head>

<body style="background-color: yellow">
<base href="http://localhost:8060/">
<div>


    <div class="jumbotron jumbotron-fluid bg-info">
        <div class="container">
            <h1 class="display-2">Softia Performance Monitoring</h1>
            <p class="lead">This is a Node training project serving CPU & BDD performance monitoring metrics in a REST
                API.</p>
            <div class="text-left ml-3">
                <a href="/osjson">
                    <button type="button" class="btn btn-secondary display-4 text-white text-center">All OS Logs from
                        API
                    </button>
                </a>
                <a href="/dbjson">
                    <button type="button" class="btn btn-secondary display-4 text-dark text-center"
                            style="background-color: yellow">All Databases Sizes
                    </button>
                </a>
                <a href="/dbjson/model">
                    <button type="button" class="btn btn-secondary display-4 text-white text-center">Table Index % and
                        Rows count
                    </button>
                </a>
                <a href="/userlogs">
                    <button type="button" class="btn btn-secondary display-4 text-dark text-center"
                            style="background-color: yellow">DB User Connections
                    </button>
                </a>
            </div>
        </div>
    </div>


    <div class="jumbotron jumbotron-fluid bg-secondary">
        <div class="container">
            <h1 class="display-4 text-light">Get the latest X amount of OS metrics logs</h1>
            <p class="lead text-light">Enter /osjson/(X) in the URL, X being the number of records your want</p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-info">
        <div class="container">
            <h1 class="display-4">Filter records per CPU Usage</h1>
            <p class="lead">Enter /osjson/cpuusage/(Y) in the URL, Y being the CPU usage to match (greater or equal)</p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-secondary">
        <div class="container">
            <h1 class="display-4 text-white">Filter records per dates</h1>
            <p class="lead text-white">Enter /osjson/date/(Startdate)/(Enddate) in the URL. Date format recommended
                YYYY-MM-DD</p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-info">
        <div class="container">
            <h1 class="display-4 text-dark">Wipe the OS data table</h1>
            <p class="lead text-dark">Enter /osdata/delete in a DELETE request manager. <em class="text-warning">Warning:
                    this will wipe the OS data table.</em></p>
            <p class="lead text-dark">Enter /osdata/splice in a PUT request manager. <em class="text-warning">Request
                    body must have a 'cutoff' key, its value will be used as cutoff. This will splice the oldest X
                    records in the database, where X = cutoff. The body data must be sent as x-www-form-urlencoded
                    format</em></p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-secondary">
        <div class="container">
            <h1 class="display-4 text-white">Additionnal API routes:</h1>
            <p class="lead text-white">Enter /osjson in the URL to get all OS logs</p>
            <p class="lead text-white">Enter /dbjson in the URL to get all DB Names and Sizes</p>
            <p class="lead text-white">Enter /dbjson/model in the URL to this Table Index % usage and Rows count</p>
        </div>
    </div>

</body>
</html>